<h1>Grafica de dona</h1>
<hr>

<div class="row">
    <div class="col">
        <div style="display: block">
            <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="colores">
            </canvas>
          </div>
    </div>
</div>
