<h1>Redes sociales mas usadas</h1>
<hr>
<div class="alert alert-info" *ngIf="doughnutChartData.length === 0; else divGrafica">
    Cargando Data...
</div>

<div class="row" >
    <div class="col">
        <ng-template #divGrafica>
            <div style="display: block">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="colores">
                </canvas>
              </div>
              <span class="float-end text-primary">
                  Informacion en billones de usuarios
              </span>
        </ng-template>
    </div>
</div>